.header {
  height: 100vh;
  background-image: url(../img/bgh.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__content {
  display: flex;
  flex-direction: column;
  width: 650px;
  text-align: center;
  margin: 255px auto auto;
  justify-content: space-between;
}

.header__form {
  margin-top: 45px;
  display: flex;
  max-width: 650px;
  max-height: 60px;
  background-color: white;
  line-height: 30px;
}
.header__form--input {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  color: grey;
}
.scroll_down {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  margin: 110px auto 0;

  padding: 20px 0;
}
.scroll_down__a {
  text-decoration: none;
}
.scroll_down__a:hover {
  transform: scale(1.2);
}
.scroll_down__text {
  color: white;
  font-size: 14px;
}

.header__nav {
  position: relative;
  bottom: 0;
  max-height: 80px;
  overflow: hidden;
  width: 100%;
  background-color: #5474fd;
  display: flex;
}
.header__nav--a {
  font-family: "Aleo", serif;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

.header__nav--a:hover {
  background-color: #f2f2f2;
  color: black;
}
