* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "JosefinSans", sans-serif;
  color: white;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.container--why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--booking2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container--what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.789);
}

.container--direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 337px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hone {
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.htwo {
  font-size: 36px;
  color: white;
  padding-bottom: 65px;
}

.htwo--what {
  text-align: center;
  margin-bottom: 80px;
}

.hthree {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.hthree--what {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

.hfour {
  color: white;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 200;
}

.hfive {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  color: white;
  padding-bottom: 35px;
}

.btn {
  background-color: #5474fd;
  color: white;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
  margin-top: 20px;
}

.btn__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474fd;
  color: white;
  border: solid 2px white;
  text-transform: uppercase;
  font-family: "Aleo", serif;
  font-size: 14px;
  width: 140px;
  height: 60px;
  line-height: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn__header:hover {
  background-color: #339af0;
}

.btn--text {
  margin-right: 35px;
}

.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.name__header {
  line-height: 80px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 18%;
  padding-right: 22%;
}

.name__footer {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.header {
  height: 100vh;
  background-image: url(../img/bgh.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
  text-align: center;
  margin: 255px auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__form {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
  max-height: 60px;
  background-color: white;
  line-height: 30px;
}

.header__form--input {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  color: grey;
}

.scroll_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100px;
  margin: 110px auto 0;
  padding: 20px 0;
}

.scroll_down__a {
  text-decoration: none;
}

.scroll_down__a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.scroll_down__text {
  color: white;
  font-size: 14px;
}

.header__nav {
  position: relative;
  bottom: 0;
  max-height: 80px;
  overflow: hidden;
  width: 100%;
  background-color: #5474fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav--a {
  font-family: "Aleo", serif;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

.header__nav--a:hover {
  background-color: #f2f2f2;
  color: black;
}

.why {
  height: 80vh;
  background-image: url(../img/whybg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portrait {
  max-width: 540px;
  margin-right: 15px;
  padding-top: 15%;
}

.portrait__paragraph {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 40px;
  line-height: 25px;
}

.portrait__paragraph--p2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.why__images {
  max-width: 540px;
  margin-left: 15px;
}

.why__images--first {
  display: block;
  float: left;
  margin-top: 20%;
  margin-left: 15%;
}

.why__images--second {
  display: block;
  float: right;
  margin-top: 5px;
}

.direction {
  background-color: #333333;
  height: 30vh;
}

.direction__item {
  text-align: center;
}

.direction__item--title {
  color: white;
  font-family: "Aleo", serif;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
}

.doted-line {
  position: absolute;
  width: 320px;
  height: 110px;
  border-radius: 300px/105px;
  opacity: 0.5;
  border-top: 2px dotted white;
}

.doted-line--l {
  left: 207px;
  top: 45px;
}

.doted-line--r {
  right: 207px;
  top: 45px;
}

.booking__1 {
  min-height: 100vh;
  background-image: url(../img/booking1bg.jpg);
  background-size: cover;
  padding-top: 320px;
}

.booking__2 {
  min-height: 100vh;
  background-image: url(../img/booking2bg.jpg);
  background-size: cover;
  padding-top: 320px;
}

.booking__content {
  max-width: 540px;
  min-height: 350px;
  padding: 35px 25px;
  background-color: rgba(0, 0, 0, 0.789);
}

.booking__text {
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.what {
  min-height: 100vh;
  background: url(../img/whatbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}

.what__title {
  font-family: "Aleo", serif;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  margin-bottom: 80px;
}

.what__text {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
}

.what__text--review {
  padding-left: 30px;
}

.what__card {
  background-color: #333333;
  padding: 60px;
}

.quote {
  color: #5474fd;
  font-size: 22px;
}

.footer {
  background-color: #232323;
  height: 30vh;
  text-align: center;
  padding-top: 120px;
}

.footer__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer__social {
  padding-top: 30px;
}

.footer__social a {
  text-decoration: none;
  color: white;
  margin: 10px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer__social a:nth-child(1):hover {
  color: #3b5998;
}

.footer__social a:nth-child(2):hover {
  color: #1da1f2;
}

.footer__social a:nth-child(3):hover {
  color: #0e76a8;
}

.footer__social a:nth-child(4):hover {
  color: #ff0000;
}

.footer__social a:nth-child(5):hover {
  color: #c8232c;
}

.social {
  color: white;
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */